<div [formGroup]="reactiveFormPerson">
<div>
  <button style="width: auto;margin-left: 3%;" pButton pRipple type="button" label="Add Person" class="col-md-1 my-4 btn p-button-secondary" (click)="showAddDialog()"></button>
  <p-dialog header="Add Person" [(visible)]="displayAdd" [style]="{width: '50vw'}">

    <h5 class="mt-4">First Name</h5>
    <input type="text" pInputText formControlName="firstName">
    <div *ngIf="reactiveFormPerson.get('firstName')?.invalid &&
        reactiveFormPerson.get('firstName')?.errors &&
        (reactiveFormPerson.get('firstName')?.dirty || reactiveFormPerson.get('firstName')?.touched)">
      <small class="text-danger mx-2"
             *ngIf="reactiveFormPerson.get('firstName')?.hasError('required')">
        This field is required.
      </small>
    </div>

    <h5 class="mt-4">Last Name</h5>
    <input type="text" pInputText formControlName="lastName">
    <div *ngIf="reactiveFormPerson.get('lastName')?.invalid &&
        reactiveFormPerson.get('lastName')?.errors &&
        (reactiveFormPerson.get('lastName')?.dirty || reactiveFormPerson.get('lastName')?.touched)">
      <small class="text-danger mx-2"
             *ngIf="reactiveFormPerson.get('lastName')?.hasError('required')">
        This field is required.
      </small>
    </div>


    <h5 class="mt-4">National Code</h5>
    <input type="text" pInputText formControlName="nationalCode" id="nationalCode">
    <div *ngIf="reactiveFormPerson.get('nationalCode')?.invalid &&
        reactiveFormPerson.get('nationalCode')?.errors &&
        (reactiveFormPerson.get('nationalCode')?.dirty || reactiveFormPerson.get('nationalCode')?.touched)">
      <small class="text-danger mx-2"
             *ngIf="reactiveFormPerson.get('nationalCode')?.hasError('required')">
        This field is required.
      </small>
    </div>

    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="addPersonFunc()" label="Save" styleClass="p-button-text" [disabled]="reactiveFormPerson.invalid"></p-button>
    </ng-template>
  </p-dialog>
</div>
<hr >

<div class="row my-2">
  <div class="col-md-2 mx-3">
    <h5 class="mt-2">Filter Persons: </h5>
  </div>
  <div class="col-md-2">
    <input class="" style="height: auto;margin-left: -45%" type="text" pInputText formControlName="filterString">
  </div>
</div>

<div class="row mx-2">
  <div class="mx-5 mt-5">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">National Code</th>
      </tr>
      </thead>
      <tbody>
      <tr
        filterPipe *ngFor="let person of personList|
        filterPipe : reactiveFormPerson.value['filterString'] : 'fullName'
         | paginate
            : {
                itemsPerPage: 5,
                currentPage: pagination,
                totalItems: allPerson
              }"
      >
        <td scope="row">{{person.fullName}}</td>
        <td scope="row">{{person.nationalCode}}</td>
        <td><button style="height: 15px;width: auto;margin-left: 3%;" pButton pRipple type="button" label="Edit" class="col-md-1 mt-2 btn p-button-warning" (click)="showBasicDialog(person)"></button></td>
        <td><button style="height: 15px;width: auto;margin-left: 3%;" pButton pRipple type="button" label="Delete" class="col-md-1 mt-2 btn p-button-danger" (click)="delete(person.id)"></button></td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        (pageChange)="renderPage($event)"
      ></pagination-controls>
    </div>
  </div>


  <p-dialog header="Update" [(visible)]="displayBasic" [style]="{width: '50vw'}">
    <h5 >first Name</h5>
    <input type="text" pInputText formControlName="firstName">
    <div *ngIf="reactiveFormPerson.get('firstName')?.invalid &&
      reactiveFormPerson.get('firstName')?.errors &&
      (reactiveFormPerson.get('firstName')?.dirty || reactiveFormPerson.get('firstName')?.touched)">
      <small class="text-danger mx-2"
             *ngIf="reactiveFormPerson.get('firstName')?.hasError('required')">
        This field is required.
      </small>
    </div>

    <h5 class="mt-4">first Name</h5>
    <input type="text" pInputText formControlName="lastName">
    <div *ngIf="reactiveFormPerson.get('lastName')?.invalid &&
      reactiveFormPerson.get('lastName')?.errors &&
      (reactiveFormPerson.get('lastName')?.dirty || reactiveFormPerson.get('lastName')?.touched)">
      <small class="text-danger mx-2"
             *ngIf="reactiveFormPerson.get('lastName')?.hasError('required')">
        This field is required.
      </small>
    </div>

    <h5 class="mt-4">National Code</h5>
    <input type="text" pInputText formControlName="nationalCode">
    <div *ngIf="reactiveFormPerson.get('nationalCode')?.invalid &&
      reactiveFormPerson.get('nationalCode')?.errors &&
      (reactiveFormPerson.get('nationalCode')?.dirty || reactiveFormPerson.get('nationalCode')?.touched)">
      <small class="text-danger mx-2"
             *ngIf="reactiveFormPerson.get('nationalCode')?.hasError('required')">
        This field is required.
      </small>
    </div>

    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="updatePersonFunc(editPerson)" label="Save" styleClass="p-button-text" ></p-button>
    </ng-template>
  </p-dialog>
</div>
<hr/>
</div>

<p-toast
  position="top-right"
  key="showError"
>
</p-toast>
