<div class="mt-5 row d-flex align-items-center justify-content-center">
  <button routerLink="/library" pButton pRipple type="button" class="mx-1 col-md-2 p-button-raised"> <span class="mx-auto">{{'Library' | translate }}</span></button>
  <button routerLink="/borrow" pButton pRipple type="button"  class="mx-1 col-md-2 p-button-raised p-button-warning"><span class="mx-auto"> {{'borrow' | translate }} </span></button>
  <button routerLink="/person" pButton pRipple type="button"  class="mx-1 col-md-2 p-button-raised p-button-secondary"><span class="mx-auto"> {{'Person' | translate }} </span></button>
  <button routerLink="/category" pButton pRipple type="button"  class="mx-1 col-md-2 p-button-raised p-button-success"><span class="mx-auto">{{'Category' | translate }}</span>  </button>
  <button routerLink="/book" pButton pRipple type="button"  class="mx-1 col-md-2 p-button-raised p-button-help"><span class="mx-auto">{{'Book' | translate }}</span>  </button>
</div>
